@font-face {
    font-family: "Netflix Sans";
    font-weight: 100;
    font-display: optional;
    src: url(https://assets.nflxext.com/ffe/siteui/fonts/netflix-sans/v3/NetflixSans_W_Th.woff2)
        format("woff2"),
      url(https://assets.nflxext.com/ffe/siteui/fonts/netflix-sans/v3/NetflixSans_W_Th.woff)
        format("woff");
}
  
  @font-face {
    font-family: "Netflix Sans";
    font-weight: 300;
    font-display: optional;
    src: url(https://assets.nflxext.com/ffe/siteui/fonts/netflix-sans/v3/NetflixSans_W_Lt.woff2)
        format("woff2"),
      url(https://assets.nflxext.com/ffe/siteui/fonts/netflix-sans/v3/NetflixSans_W_Lt.woff)
        format("woff");
}
  
  @font-face {
    font-family: "Netflix Sans";
    font-weight: 400;
    font-display: optional;
    src: url(https://assets.nflxext.com/ffe/siteui/fonts/netflix-sans/v3/NetflixSans_W_Rg.woff2)
        format("woff2"),
      url(https://assets.nflxext.com/ffe/siteui/fonts/netflix-sans/v3/NetflixSans_W_Rg.woff)
        format("woff");
}
  
  @font-face {
    font-family: "Netflix Sans";
    font-weight: 700;
    font-display: optional;
    src: url(https://assets.nflxext.com/ffe/siteui/fonts/netflix-sans/v3/NetflixSans_W_Md.woff2)
        format("woff2"),
      url(https://assets.nflxext.com/ffe/siteui/fonts/netflix-sans/v3/NetflixSans_W_Md.woff)
        format("woff");
}
  
  @font-face {
    font-family: "Netflix Sans";
    font-weight: 800;
    font-display: optional;
    src: url(https://assets.nflxext.com/ffe/siteui/fonts/netflix-sans/v3/NetflixSans_W_Bd.woff2)
        format("woff2"),
      url(https://assets.nflxext.com/ffe/siteui/fonts/netflix-sans/v3/NetflixSans_W_Bd.woff)
        format("woff");
}
  
  @font-face {
    font-family: "Netflix Sans";
    font-weight: 900;
    font-display: optional;
    src: url(https://assets.nflxext.com/ffe/siteui/fonts/netflix-sans/v3/NetflixSans_W_Blk.woff2)
        format("woff2"),
      url(https://assets.nflxext.com/ffe/siteui/fonts/netflix-sans/v3/NetflixSans_W_Blk.woff)
        format("woff");
}

/* Extra small devices (phones) */
@media only screen and (max-width: 455px) {
    /* CSS rules */
}


*{
    margin: 0;
    padding: 0;
    font-family: 'Netflix Sans', sans-serif;
    box-sizing: border-box;
}

body {
    background: #000;
    color: #fff;
}

.header{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.7)), url(images/header-image\(1\).jpg);
    background-color: cover;
    background-position: center;
    padding: 10px 10px;

    
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0px;
}

.logo{
    max-width: 150px;
    cursor: pointer;
    /* padding-left: 20px; */
    margin-left: 143px;
}

nav button{

    border:0;
    outline: 0;
    background-color: #db0001;
    color: white;
    height: 30px;
    cursor: pointer;
    padding: 7px 20px;
    border-radius: 4px;

}

.button {
    display: flex;
    justify-content: space-between;
    margin-right: 143px
}


/* trying with flexbox */

/* nav button{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #db0001;
    
} */

.language_b{
    display: inline-flex;
    align-items:center;
    background: transparent;
    border: 1px solid #fff;
    justify-content: space-between;
    padding: 4px 33px;
    cursor:auto;
    font-size: 16px;
    margin-right: 10px;
}



.language_b:hover .dropdown-list{
    display: block;
}



.signin{
    transition: background-color 0.3s ease;
}


.signin:hover{
    background-color: #a20303;
}


/* .heading1{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 300px;
} */

.heading{
    display: flex;
    align-items: center;
    justify-content: center;
    margin:300px;
    padding-top:px;
    flex-direction: column;
    top: 50%;
}

.heading1{
    font-weight:10000;
    font-size: 50px;
    font-weight: bold;
}


.heading2{
    font-weight: 300;
}

.heading3{
    font-weight: 400;
    font-size: 23px
    
}
.submit{

    background-color: #db0001;
    border: 0;
    outline: 0;
    color: #fff;
    font-size: 25px;
    transition: background-color 0.3s ease;
    padding: 12px 24px;
    margin-left: 8px;
    width: 209px;
    height: 56px;

}

.submit:hover{
    background-color: #a20303;
}

.heading, .heading2, .heading3{
    padding: 10px;
}

.email1{

    /* width: 338px;
    height: 24px;  */
    width: 386px;
    height: 56px;
    border: 1px solid  rgba(169, 169, 169, 0.5);
    background-color:  rgba(123, 122, 122, 0.5);
    color: #fff;
    padding: 24px 16px 8px 16px;
    line-height: 30px;
    font-size: 16px;
    text-align: left;
    padding-left: 10px;
}
      
.email-signup{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: left;
    width: 586px;
    height:56px;
    margin-top: 16px;
}




.submit , .email1{
    
    border-radius: 4px;
    justify-content: space-between;
}


.features{
    display: flex;
    justify-content: center;
    padding: 72px 191px;
    height: 641px;
}

.row{
    display: flex;
    justify-content: center;
    justify-items: center;
    align-items: center;
    height:497px;
    width:1329px;
}

.enjoy{
    font-size: 50px;
    width: 658px;
    height: 61px;
}

.enjoyp{
    width: 658px;
    height: 62px;
    font-size: 24px;
    padding-top: 16px;
}

.text-col{
    flex-basis: 50%;  
    /* padding: 239px 855px 239px; */
    height: 194px;
    width: 469px;
    text-align: center;
    padding-bottom: 20px ;
    text-align: left;
    padding-bottom: 20px;
}

.img-col {
    height: 497px;
    width: 658px;
    /* padding-left: 6px; */
    text-align: center;
}


/* .video-over{
    position: absolute;
    width:100%;
    height: 100%;
    display:flex;
    align-items: center;
    justify-content: center;
    margin-left: 650px;

} */


.separation{
    height: 8px;
    background-color: rgb(61, 61, 61)

}