@font-face {
    font-family: "Netflix Sans";
    font-weight: 100;
    font-display: optional;
    src: url(https://assets.nflxext.com/ffe/siteui/fonts/netflix-sans/v3/NetflixSans_W_Th.woff2)
        format("woff2"),
      url(https://assets.nflxext.com/ffe/siteui/fonts/netflix-sans/v3/NetflixSans_W_Th.woff)
        format("woff");
}
  
  @font-face {
    font-family: "Netflix Sans";
    font-weight: 300;
    font-display: optional;
    src: url(https://assets.nflxext.com/ffe/siteui/fonts/netflix-sans/v3/NetflixSans_W_Lt.woff2)
        format("woff2"),
      url(https://assets.nflxext.com/ffe/siteui/fonts/netflix-sans/v3/NetflixSans_W_Lt.woff)
        format("woff");
}
  
  @font-face {
    font-family: "Netflix Sans";
    font-weight: 400;
    font-display: optional;
    src: url(https://assets.nflxext.com/ffe/siteui/fonts/netflix-sans/v3/NetflixSans_W_Rg.woff2)
        format("woff2"),
      url(https://assets.nflxext.com/ffe/siteui/fonts/netflix-sans/v3/NetflixSans_W_Rg.woff)
        format("woff");
}
  
  @font-face {
    font-family: "Netflix Sans";
    font-weight: 700;
    font-display: optional;
    src: url(https://assets.nflxext.com/ffe/siteui/fonts/netflix-sans/v3/NetflixSans_W_Md.woff2)
        format("woff2"),
      url(https://assets.nflxext.com/ffe/siteui/fonts/netflix-sans/v3/NetflixSans_W_Md.woff)
        format("woff");
}
  
  @font-face {
    font-family: "Netflix Sans";
    font-weight: 800;
    font-display: optional;
    src: url(https://assets.nflxext.com/ffe/siteui/fonts/netflix-sans/v3/NetflixSans_W_Bd.woff2)
        format("woff2"),
      url(https://assets.nflxext.com/ffe/siteui/fonts/netflix-sans/v3/NetflixSans_W_Bd.woff)
        format("woff");
}
  
  @font-face {
    font-family: "Netflix Sans";
    font-weight: 900;
    font-display: optional;
    src: url(https://assets.nflxext.com/ffe/siteui/fonts/netflix-sans/v3/NetflixSans_W_Blk.woff2)
        format("woff2"),
      url(https://assets.nflxext.com/ffe/siteui/fonts/netflix-sans/v3/NetflixSans_W_Blk.woff)
        format("woff");
}

/* Extra small devices (phones) */
@media only screen and (max-width: 1px) {
    /* CSS rules */
}


*{
    margin: 0;
    padding: 0;
    font-family: 'Netflix Sans', sans-serif;
    box-sizing: border-box;
}

body {
    background: #000;
    color: #fff;
}

.header{
    display: flex;
    flex-direction: column;
    justify-items: center;
    /* width: 1710px; */
    width: 100%;
    height: 700px;
    background-image: linear-gradient(to bottom, rgb(0, 0, 0), rgba(0,0,0,0.5), rgb(0, 0, 0)), url(images/header-image\(1\).jpg);
    background-color: cover;
    background-position: center;
    /* padding: 10px 10px; */
    text-align: center;
}

.language_drop_down{
    background: transparent;
    border:none;
    color: #fff;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0px;
}

.logo{
    max-width: 150px;
    cursor: pointer;
}

nav .signin{

    border:0;
    outline: 0;
    background-color: #db0001;
    color: white;
    height: 30px;
    cursor: pointer;
    padding: 7px 20px;
    border-radius: 4px;

}

.button {
    display: flex;
    justify-content: center;
}

.nav1{
    display: flex;
    justify-content: space-evenly;
    gap:770px;
    width: 100%;
    margin: 0 10px 0 10px;
}


.language_b{
    display: inline-flex;
    align-items:center;
    background: rgba(0,0,0,0.4);
    border: 1px solid  rgba(169, 169, 169, 0.5);
    height: 32px;
    width: 50%;
    text-align: left;
    justify-content: center;
    padding: 6px 36px;
    cursor:auto;
    font-size: 16px;
    /* margin-right: 10px; */
    border-radius: 4px;
}

/*  */


.signin{
    transition: background-color 0.3s ease;
}


.signin:hover{
    background-color: #a20303;
}


/* .heading1{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 300px;
} */

.heading{
    /* height: 234px; */
    height: 100%;
    /* width: 870px; */
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    /* padding-top:px; */
    flex-direction: column;
    /* top: 50%; */
}

.heading1{
    font-weight:10000;
    font-size: 40px;
    font-weight: bold;
    width:100%;
    /* height: 61px;
    width: 870px; */
}



.heading2{
    width:100%;
    /* height: 31px;
    width: 870px; */
    margin-top: 16px;
    font-weight: 300;
}

.heading3{
    width:100%;
    font-weight: 400;
    font-size: 20px;
    /* height:30px;
    width:830px; */
    line-height: 30px;
    text-align: center;
    /* margin-top: 24px; */

    
}



.h3whole{
    display: flex;
    flex-direction: column;
    /* width: 870px; */
    align-items: center;
    margin-top: 24px;
}
.submit{

    background-color: #db0001;
    border: 0;
    outline: 0;
    color: #fff;
    font-size: 25px;
    transition: background-color 0.3s ease;
    padding: 12px 24px;
    margin-left: 8px;
    width: 209px;
    height: 56px;
    cursor: pointer;

}

.submit:hover{
    background-color: #a20303;
}

/* .heading, .heading2, .heading3{
    padding: 10px;
} */

.email1{

    /* width: 338px;
    height: 24px;  */
    width: 386px;
    height: 56px;
    border: 1px solid  rgba(169, 169, 169, 0.5);
    background-color:  rgba(40, 39, 39, 0.5);
    color: #fff;
    padding: 24px 16px 8px 16px;
    line-height: 30px;
    font-size: 16px;
    text-align: left;
    padding-left: 10px;
}
      
.email-signup{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: left;
    /* width: 586px;
    height:56px; */
    margin-top: 16px;
}

@media screen and (max-width:627px){
    .email-signup{
        display: flex;
        flex-direction: column;
        gap:20px;
    }
}


.submit , .email1{
    
    border-radius: 4px;
    justify-content: space-between;
}


.features{
    display: flex;
    justify-content: center;
    padding: 72px 191px;
    height: 641px;
    flex-direction: column;
}

.row{
    display: flex;
    justify-content: center;
    justify-items: center;
    align-items: center;
    height:497px;
    width:1329px;
}

.enjoy{
    font-size: 50px;
    width: 658px;
    height: 61px;
}

.enjoyp{
    width: 658px;
    height: 62px;
    font-size: 24px;
    padding-top: 16px;
}

.text-col{
    flex-basis: 50%;  
    /* padding: 239px 855px 239px; */
    height: 194px;
    width: 469px;
    text-align: center;
    padding-bottom: 20px ;
    text-align: left;
    padding-bottom: 20px;
}

.img-col {
    height: 497px;
    width: 658px;
    /* padding-left: 6px; */
    text-align: center;
}


/* .video-over{
    position: absolute;
    width:100%;
    height: 100%;
    display:flex;
    align-items: center;
    justify-content: center;
    margin-left: 650px;

} */


.separation{
    height: 8px;
    background-color: rgb(61, 61, 61)
}


.text-col2{
    flex-basis: 50%; 
    height: 194px;
    width: 469px;
    display:flex;
    flex-direction: column;
}


.features2{
    font-size: 16px;
    height: 641px;
    width: 1710px;
    padding: 72px 191px

}

.download{
    font-size: 50px;
}

.downloadp{
    font-size: 24px;
    margin-top: 16px
}

.rows2{
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    width:1328px;
    height: 497px;
}




.text-col3{
    flex-basis: 50%; 
    height: 194px;
    width: 469px;
    display:flex;
    flex-direction: column;
    
    
    
}


.features3{
    font-size: 16px;
    height: 641px;
    width: 1710px;
    padding: 72px 191px;

}

.watch{
    font-size: 50px;
}

.watchp{
    font-size: 24px;
    margin-top: 16px
}

.rows3{
    display: flex;
    justify-content: center;
    align-items: center;
    width:1328px;
    height: 497px;
}



.text-col4{
    flex-basis: 50%; 
    height: 194px;
    width: 469px;
    display:flex;
    flex-direction: column;
    
    
    
}


.features4{
    font-size: 16px;
    height: 641px;
    width: 1710px;
    padding: 72px 191px;

}

.create{
    font-size: 50px;
}

.createp{
    font-size: 24px;
    margin-top: 16px;
}

.rows4{
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    width:1328px;
    height: 497px;
}
.questions1{
    font-size: 50px;
}


.text-col5{
    display: flex;
    text-align: center;
    width: 1329px;
    height: 780px;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.q1,.q2,.q3,.q4,.q5,.q6{
    background-color: #2d2d2d;
    color: #fff;
    padding: 24px;
    transition: background-color 0.3s ease;
    border: 1px solid;
    border:0;
    font-size: 24px;
    height:36px;
    width:1281px;
    padding-top: 50px;
    cursor: pointer;
    margin:9px auto;
}
.button1:hover{
    background-color: #414141; 
}
.button1{
    display: flex;
    align-items: center;
    justify-content: left;
}
.buttons{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.rows5{
    padding: 72px 191px;
}

.b1{
    margin-left:auto
}
.questions1{
    margin-bottom: 10px;
}

.slast{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 102px;
    width: 920px;
    margin-top: 20px;
}

.slast1{
    font-size: 20px;
    height: 30px;
    width: 920px;
    line-height: 30px;
}

.big{
    display: flex;
    align-items: left;
    justify-content: center;
    width: 1710px;
    /* height:4552px; */

}


.sbig{
    height: 31px;
    width: 1329px;
}
.s1{
    height: 19px;
    width: 251px;
    font-size: 16px;
    opacity: 70%;
    cursor: text;
    margin-bottom: 12px;

}

.big{
    display: flex;
    flex-direction: column;
    padding: 72px 191px;

}






.c1{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* .bigbig{
    width: 1710px;
    height:4552px;
} */

.call{
    font-size: 14px;
    display: flex;
    margin-top: 16px;
    opacity: 70%;
    cursor: pointer;
}


.cc1{
    margin-top: 10px;
    opacity: 70%;
}
.f{
    cursor: pointer;
}




.c2{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.call1{
    font-size: 14px;
    display: flex;
    margin-top: 16px;
    opacity: 70%;
    cursor: pointer;
}
.ca1{
    margin-top: 10px;
    opacity: 70%;
}



.c3{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.call2{
    font-size: 14px;
    display: flex;
    margin-top: 16px;
    opacity: 70%;
    cursor: pointer;
}
.cb1{
    margin-top: 10px;
    opacity: 70%;
}



.c4{
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
}
.call3{
    font-size: 14px;
    display: flex;
    margin-top: 16px;
    opacity: 70%;
    cursor: pointer;
}
.ce1{
    margin-top: 10px;
    opacity: 70%;
}




.c{
    display: flex;
    justify-content: space-between;
}


@media only screen and (max-width:413px){
    .nav1{
        width: 335px;
        height: 40px;
        flex-direction: row;
        justify-content: space-between;
    }
    .logo{
        margin-left: 50px;
        margin-top: 50px;
        height: 30px;
    }
    .button{
        width:156px;
        height:32px;
    }
    .language_drop_down{
        width:40px;
        height:20px;

    }
    .signin{
        /* margin: 24px 30px 30px 30px; */
        width:76.9px;
        height:32px;
    }
    .language_b{
        width:64px;
        height: 32px;
        margin: 20px 20px 20px 20px;
    }
    
}
    
